# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code Settings
.vscode/

# Temporary Files
temp/

# Generated PDFs
Published/output/

# Generated Datasets
Daily_Work/generated/

# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store