# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Build
build/
dist/

# PDFs
output/

# Repository Archive
repository/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini